@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}


input::placeholder {
    color: #8E9196;
}

img {  
   user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}


.calendar {
    transition: all 0.3s ease;
}

.dropzone:hover .calendar {
    transform: scale(1.03) translate(0px, -10px);
}

